// Backgrounds Filling
background-fill()
    background-position center center
    background-size cover
    background-repeat no-repeat 
// Clear Fix
cf()
    visibility hidden
    display: block
    font-size: 0px
    font-size: 0rem
    line-height: 0
    line-height: 0rem
    content: " "
    clear: both
    height: 0

// Flex Align
flexcenter()
    display flex
    align-items center
    justify-content center

// Fade Up
fadeUp()
    transform translateY(30px)
    transition 0.4s ease-in-out
    opacity 0
    &.show
        opacity 1
        transform translateY(0px)
        transition 0.4s ease-in-out

// Transition
fade()
    transition 0.4s ease-in-out

    &:hover
        transition 0.4s ease-in-out

        &:after, &:before
            transition 0.4s ease-in-out

// Media Query i.e. +breakpoint(mobile)
breakpoint(breakpoints)
    conditions = ()
    for breakpoint in breakpoints
        push(conditions, media_queries[breakpoint])
    conditions = join(", ", conditions)
    @media conditions
        {block}