body 
	position relative
	margin auto
	left 0
	background-fill()
	font-family Sans
	overflow-x hidden

	@media(max-width tablet) 
		width 100%
	

	@media(max-width mobile) 
		padding 0px
	
html,body 
	height 100%

*
	box-sizing border-box

.inline
	display inline-block

strong
	font-weight bold

ul 
	padding-left 0

img 
	 max-width 100%
	 height auto
	 vertical-align bottom