// Default Variables
containerWidth =  1200px
gutterWidth =  40px

// Widths
column =  70
margin =  15
max-width =  (1170 + margin*2)

// Colours 
black = #000000
white = #ffffff

// Responsive Breakpoints
media_queries = {
  mobile  : "(max-width: 568px)",
  tablet  : "(max-width: 768px)",
  desktop : "(max-width: 960px)"
}

// Base Font Sizes
base-font-size =  16
base-line-height =  24

// Fonts
Sans = Helvetica, Arial, sans-serif
Serif = Georgia, Times, sans-serif