body 
	font-family Sans  
	font-weight 300
	font-smooth subpixel-antialiased


html 
	font-size 16px
	font-weight 100
	line-height 1.5rem

	+breakpoint(mobile)
		font-size 14px
	
h1, h2, h3, h4, h5, h6, p, ul, ol 
	margin-top 0
	margin-bottom 1rem


h1, h2, h3, h4, h5, h6 
	margin-bottom 1rem

p
	font-family Sans
	font-size 16px
	line-height 24px
	font-weight 300
	margin-bottom 60px

h2
	font-family Sans
	text-align center
	color black
	font-size 52px
	line-height 62px
	font-weight 800

// Custom Titles
.main-title
	font-size 75px
	line-height 85px
	font-weight 900
	color headingBlue
	
	+breakpoint(desktop)
		font-size 55px
		line-height 65px
	
	+breakpoint(mobile)
		font-size 40px
		line-height 50px