// Curved Edges
.button
    display block
    border 1px solid black
    border-radius 30px
    color black
    display inline-block
    position relative
    padding 10px 30px
    text-decoration none
    fade()

    &:hover
        background black 
        color white